* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Cambria, Cochin, Georgia, Times, 
                     'Times New Roman', serif;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid red;
        border-radius: 3px;
        min-height: 100vh;
    }
      
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 50px;
        border-radius: 2px solid red;
    }
    #hadith {
        margin: 10px 10px;
        width: 500px;
        color: blue;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
    }
    